.section-2-1 {
  grid-area: a;
}
.section-2-2 {
  grid-area: b;
}
.section-2-3 {
  grid-area: c;
}

.section-2-card {
  display: grid;
  grid-template-areas:
    "a c "
    "b c";
}

@media (max-width: 767px) {
  .section-2-card {
    grid-template-areas:
      "a"
      "c"
      "b";
  }
}

/* ////// */

.btn2 span:first-child {
  transform: translateX(-101%);
  transition: transform 0.3s ease-in;
}
.btn2:hover span {
  transform: translateX(0);
}

.btn {
  min-width: 120px !important;

  height: 2.5rem !important;
  min-height: 2.5rem !important;
  border-radius: 2px !important;
}
