.series-slide {
  border-top: 1px solid #eaeaea !important;
}
.menu > li {
  position: static !important;
}

.navbar {
  justify-content: space-between !important;
  padding-bottom: 0px !important;
  border-bottom: 1px solid gray !important;
}
.navbar-start {
  width: auto !important;
}
